<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="apiToken" value="115571224:AAFe4gEZ4b9hzlwtZrfaS-4HITTuN-Pi9rU" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>